# Python
__pycache__/
*.py[cod]
*.pyc

# Output files
excelGenerator/output/*.xlsx
!excelGenerator/output/.gitkeep
excelGenerator/output_final/*.xlsx
!excelGenerator/output_final/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

*CLIENTES*
